<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Super Awesome Site!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="flex-container">
    <img id="baby-gif2" src="https://media.giphy.com/media/5X7GDf7zc1Ebu/giphy.gif">
    GIVEMEYOURPASSWORD.COM
    <img id="baby-gif" src="https://media.giphy.com/media/5X7GDf7zc1Ebu/giphy.gif">
  </div>


    @RenderBody()
    @Html.Partial("Footer")
  </body>
</html>
