<div id="footer">
<img id="baby-gif" src="https://media.giphy.com/media/5X7GDf7zc1Ebu/giphy.gif">
<img id="baby-gif" src="https://media.giphy.com/media/5X7GDf7zc1Ebu/giphy.gif">
<img id="baby-gif" src="https://media.giphy.com/media/5X7GDf7zc1Ebu/giphy.gif">
<img id="baby-gif" src="https://media.giphy.com/media/5X7GDf7zc1Ebu/giphy.gif">
<img id="baby-gif" src="https://media.giphy.com/media/5X7GDf7zc1Ebu/giphy.gif">
<img id="money" src="https://media.giphy.com/media/jEwE20qDP9OMg/giphy.gif">
<img id="baby-gif2" src="https://media.giphy.com/media/5X7GDf7zc1Ebu/giphy.gif">
<img id="baby-gif2" src="https://media.giphy.com/media/5X7GDf7zc1Ebu/giphy.gif">
<img id="baby-gif2" src="https://media.giphy.com/media/5X7GDf7zc1Ebu/giphy.gif">
<img id="baby-gif2" src="https://media.giphy.com/media/5X7GDf7zc1Ebu/giphy.gif">
<img id="baby-gif2" src="https://media.giphy.com/media/5X7GDf7zc1Ebu/giphy.gif">

</div>
