<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    @{
  Layout = "_Layout";
}

    <h1>Add a password</h1>
    <p><i>make sure it is correct</i></p>
    <form action="/categories" method="post">
      <input id="category-name" name="category-name" type="text">
      <button type="submit">Add</button>
    </form>
    <p><a href="/items">Back home</a></p>
    <p><a href="/categories">Back to categories.</a></p>

  </body>
</html>
