<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    @{
  Layout = "_Layout";
}
<h3>Here are all the accounts for this password:</h3>
<ol>
@foreach (var item in @Model["items"])
{
  <li>@item.GetDescription()</li>
}
</ol>
<p><a href='/categories/@Model["category"].GetId()/items/new'>Add an account</a></p>
<p><a href='/categories'>Return to password list</a></p>
<p><a href='/items'>Return to Main Page</a></p>
  </body>
</html>
