<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    @{
  Layout = "_Layout";
}
    <img id="money" src="https://media.giphy.com/media/jEwE20qDP9OMg/giphy.gif">
    <h1>PASSWORDS HAVE BEEN SAVED TO FOREIGN DATABASE AND DELETED FROM YOUR IDENTITY.</h1>
    <img id="money" src="https://media.giphy.com/media/jEwE20qDP9OMg/giphy.gif">
       <p><a href="/items">Go home.</a></p>
  </body>
</html>
