<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    @{
  Layout = "_Layout";
}
    <img id="money" src="https://media.giphy.com/media/jEwE20qDP9OMg/giphy.gif">
    <h3><a href='/categories/new'>Add a new password</a></h3>
    <h3><a href='/categories'>View passwords</a></h3>
    <form action="/items/delete" method="post">
     <button type="submit" name="button">Clear all passwords</button>
   </form>
  </body>
</html>
